.moreInput {
  position: absolute;
  top: 49px;
  left: 200px;
  width: 228px;
  height: 298px;
  background: #fff;
  box-shadow: 0 2px 10px 0 rgb(0 0 0 / 15%);
  border-radius: 12px !important;
  box-sizing: border-box;
  padding-top: 8px;
  z-index: 500!important;
}
a {
  text-decoration: none;
}
.more-pic {
  float: left;
  text-decoration: none;
  width: 60px;
  height: 82px;
  margin: 0px 8px;
  
}
.more-pic:hover {
  background-color: #f1f3fd;
  border-radius: 8px;
  color: #315efb;
  text-decoration: none;
}
.moreInput-img {
  width: 42px;
  height: 42px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  border: 1px solid rgba(0,0,0,.03);
  border-radius: 8px;
  display: block;
}
.more-text {
  width: 60px;
  text-align: center;
  margin-top: 3px;
  color: #222;
  font: 13px/23px Arial,sans-serif;
  display: block;
  
}
.moreBottom {
  margin-top: 20px;
  width: 212px;
  margin-left: 8px;
  padding-top: 5px;
  height: 34px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  position: absolute;
  bottom: 14px;
  
}
.moreBottom-a {
  margin-top: 0;
  width: 212px;
  line-height: 27px;
  padding-top: 5px;
  height: 34px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  color: #9195a3;
  font: 13px/23px Arial,sans-serif;
}
.moreBottom-a:hover {
  background-color: #f1f3fd;
  border-radius: 8px;
  color: #315efb !important;
  text-decoration: none;
}