.navigate {
  width: 980px;
  height: 512px;
  word-wrap: break-word;
  word-break: break-all;
  font: 14px/24px Arial,sans-serif;
  color: #222;
  box-sizing: border-box;
}
.navigate-a {
  position: relative;
  display: block;
  width: 80px;
  transition: all .2s;
  color: #626675;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  font: 14px/24px Arial,sans-serif;
  float: left;
  margin-right: 60px;
  margin-bottom: 30px;
}

.navigatePic img {
  width: 64px;
    height: 64px;
   
    border-radius: 10px;
}